<head>
    <title>Marantz Remote</title>
    <meta name="app" content="">

    <!-- MDL color theme see http://www.getmdl.io/customize/index.html -->
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.blue-pink.min.css" />

    <!-- Material Design Icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- Fonts -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>

    <link rel="shortcut icon" type="image/png" href="favicon.png" sizes="16x16 32x32 64x64">

    <!-- Mobile device rendering -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
