<template name="MainLayout">

    <!-- Layout for Authenticated pages -->

    {{> Header}}

    <main class="container">
        {{> Errors}}

        {{#if isSignedIn}}
            <!-- Current user is signed in -->
            {{#if isEmailVerified}}
                <!-- Current user is signed in and has a verified email address -->
                {{> Template.dynamic template=content}}
            {{else}}
                <!-- Current user is signed in and has a verified email address -->
                {{> AwaitingVerification }}
            {{/if}}
        {{else}}
            <!-- Current user is NOT signed in -->
            {{#if isSigningIn}}
                <!-- Current user is NOT signed in but is waiting for the sign in process to complete -->
                {{> Loading}}
            {{else}}
                <!-- Current user is NOT signed in and is NOT waiting for the sign in process to complete -->
                <!-- User must log in to access this page -->
                {{> Login}}
            {{/if}}
        {{/if}}
    </main>

    {{> Footer}}


</template>
